<p>Hi there!</p>

<p>Someone requested a sign in link to Slingwave on behalf of this email address. Please click on the link below or type in the 4 digit code to login.</p>

<p><%= link_to "Sign In Link", magic_link.authenticate_url(email: @email, sign_in_token: @token) %></p>

<p>Code: <%= @otp %></p>

<p>- Team Slingwave</p>
